header{
   color: green;
   font-family: 'Montserrat', sans-serif;
   font-size: 50px;
}
h1{
   color: White;
   font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
h2{
  color: White;
   font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
h3{
   color: White;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
}
body{
background-color: black;
}
.listy{
   font-style: italic;
}
#midsec{
   
   opacity: 1;
}

#freak{
   font-size: 100px;
   color: White;
}
